@tailwind base;
@tailwind components;
@tailwind utilities;


/* #region Layout */

.content {
  width: 100%;
  height: calc(100vh - 48px);
  position: absolute;
  top: 48px;
}

.flex-btw {
  @apply flex justify-between
}

/* #endregion layout */

.left-panel {
  @apply w-7/12 h-full border-r-2 border-black
}

.right-panel {
  @apply w-5/12 h-full
}

.panel {
  @apply rounded border-2 p-2 shadow
}

.panel-title {
  @apply text-base font-bold pb-2 border-b
}

.dropdown-menu {
  @apply rounded-lg text-slate-500 my-2 cursor-pointer shadow-md border
}

.menu {
  @apply w-full
}

.title {
  @apply text-white text-5xl font-extrabold h-full pt-0 cursor-pointer
}

.state-content {
  @apply w-full h-full flex-btw
}

.setting {
  @apply w-full flex justify-between hover:bg-gray-100 hover:cursor-pointer
}

.setting-dropdown {
  @apply w-40 h-16 flex flex-col text-sm
}

.tabs {
  @apply text-base font-bold text-center text-gray-500 border-b-8 border-gray-200
}

.tab-selected {
  @apply inline-block p-2 text-black border-b-8 border-black rounded-t-lg hover:border-gray-300 hover:text-gray-600
}

.tab {
  @apply inline-block p-2 border-b-8 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300
}

.democrats {
  @apply text-blue-500
}

.republican {
  @apply text-red-500
}

.precinct-checkbox {
  @apply mx-4 mt-4 flex items-center
}

.reset {
  @apply border-2 rounded-full shadow-sm w-8 h-8 hover:bg-gray-100 hover:cursor-pointer
}

.compare-row {
  @apply border-y border-black text-sm
}

.ensemble-summary {
  @apply flex
}

.ensemble-display-selected {
  @apply inline-block w-full p-1 text-gray-900 bg-gray-100 border-gray-200
}

.ensemble-display {
  @apply inline-block w-full p-1 bg-white border-gray-200 hover:text-gray-700 hover:bg-gray-50
}

.display-tabs {
  @apply w-2/3 mt-2 text-xs font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400
}