@tailwind base;
@tailwind components;
@tailwind utilities;


/* #region Layout */

.content {
  width: 100%;
  height: calc(100vh - 48px);
  position: absolute;
  top: 48px;
}

.flex-btw {
  @apply flex justify-between
}

/* #endregion layout */

.left-panel {
  @apply w-7/12 h-full border-r-2 border-black
}

.right-panel {
  @apply w-5/12 h-full
}

.dropdown-menu {
  @apply rounded-lg text-slate-500 my-2 cursor-pointer shadow-md border
}

.menu {
  @apply w-full h-4/5 pt-8
}

.title {
  @apply text-white text-5xl font-extrabold h-full pt-0 cursor-pointer
}

.state-content {
  @apply w-full h-full flex-btw
}

.setting-dropdown {
  @apply w-60 h-20 flex flex-col
}

.tabs {
  @apply text-lg font-bold text-center text-gray-500 border-b-8 border-gray-200
}

.tab-selected {
  @apply inline-block p-2 text-black border-b-8 border-black rounded-t-lg hover:border-gray-300 hover:text-gray-600
}

.tab {
  @apply inline-block p-2 border-b-8 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300
}

.democrats {
  @apply text-blue-500
}

.republican {
  @apply text-red-500
}