@tailwind base;
@tailwind components;
@tailwind utilities;


/* #region Layout */

.content {
  width: 100%;
  height: calc(100vh - 48px);
  position: absolute;
  top: 48px;
}

.flex-btw {
  @apply flex justify-between
}

/* #endregion layout */

.dropdown-menu {
  @apply rounded-lg text-slate-500 my-2 cursor-pointer shadow-md border
}

.menu {
  @apply w-full h-4/5 pt-8
}

.title {
  @apply text-white text-3xl font-bold h-full pt-1 cursor-pointer
}

.state-content {
  @apply w-full h-full flex-btw
}

.tab-selected {
  @apply inline-block p-2 text-black border-b-8 border-black rounded-t-lg hover:border-gray-300 hover:text-gray-600
}

.tab {
  @apply inline-block p-2 border-b-8 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300
}

.democrats {
  @apply text-blue-500
}

.republican {
  @apply text-red-500
}