

.input-sets {
    margin-bottom: 10px;
    font-size: 16px;
}

.input-sets:hover {
    background-color: aliceblue;
}

label {
    font-size: 16px;
}

label:hover {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.setting-field {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.setting-field:last-of-type {
    margin-bottom: 0px;
}

.setting-btns {
    display: flex;
    justify-content: space-between;
}

.setting-btns button {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 5px 10px;
    transition: all linear .1s;
    border-radius: 10px;
    border: 1px solid black;
}

.setting-btns button:hover {
    background-color: white;
    color: black;
    transition: all linear .1s;
    cursor: pointer;
}

#demographic {
    width: 75%;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

button.input-sets {
    width: 100%;
    border: 0px;
    background-color: white;
    /* font-size: 16px; */
}

button.input-sets:hover {
    cursor: pointer;
    border: 1px black solid;
}

/* #region */
/* table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
}

th {
    margin: 0px;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 0px;
}

td {
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    padding: 5px 0px;
} */
 /* #endregion */