nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: black;
    position: fixed;
    z-index: 3;
}

#state {
    color: #a0a0a0;
    font-size: 24px;
    width: 250px;
    
}

.select {
    display: flex;
    justify-items: stretch;
}

.select span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    white-space: pre;
}

.nav-tab-container {
    display: flex;
}

.nav-tab {
    color: white;
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-left: white 1px solid;
}