/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/Nav.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: black;
    position: fixed;
    z-index: 3;
}

#state {
    color: #a0a0a0;
    font-size: 24px;
    width: 250px;
    
}

.select {
    display: flex;
    justify-items: stretch;
}

.select span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    white-space: pre;
}

.nav-tab-container {
    display: flex;
}

.nav-tab {
    color: white;
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-left: white 1px solid;
}
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  position: absolute;
  top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: flex-start;
}

.menu {
  width: calc((100vw - 100vh) * 0.3);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu h2 {
  margin-bottom: 20px;
}

.data-sect {
  width: calc((100vw - 100vh) * 0.7);
  padding: 20px 20px;
  overflow-y: auto;
}

.summary {
  border-bottom: 2px gray solid;
}

.state-container {
  height: calc(100vh - 50px);
  width: 100vh;
  border: 1px solid black;
}

.map-container {
  height: 100vh;
}

.legend-container {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 2px #a0a0a0;
  
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-legend {
  height: 100px;
  width: 180px;
}

.demo-legend {
  height: 200px;
  width: 180px;
  flex-direction: row;
  justify-content: flex-start;
}

.demo-legend>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#black-line {
  background-color: black;
  height: 3px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

#green-line {
  background-color: green;
  height: 3.2px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

#purple-line {
  background-color: purple;
  height: 3.2px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.about {
  display: block;
  padding: 20px;
}
